/* Original Code */
.sidebar-open {
    transform: translateX(0);
  }
  
  .sidebar-closed {
    transform: translateX(-17%);
  }
  
  .tt {
    background-color: blue!important;
    text-decoration: none;
    margin-top: 25px;
  }
  
  .hh{
    margin-left: 30px;
  }
  
 
  @media (max-width: 767px) {
    .sidebar-open {
      margin-left: 0; 
    }
  
    .sidebar-closed {
      margin-left: -17%;
    }
  
    .hh {
      margin-left: 0; 
    }
  
    .tt {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    .hh {
      margin-left: 30px; 
    }
  
    .tt {
      display: none;
    }
  }
  